*, *::before, *::after {
  box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

h1 {
text-align: center;
    margin: 2rem auto;
}

.gamecontrols {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}